<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Vue Js</title>
    <link rel="stylesheet" href="bootstrap-4.4/css/bootstrap.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!--Lauching the connection to view with app-->
    <div id="app">
      <!--Navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand">==TODO==</a>
        <button
          class="navbar-toggler"
          data-target="#my-nav"
          data-toggle="collapse"
          aria-controls="my-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="my-nav" class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html    "
                >Todo <span class="sr-only">(current)</span></a
              >
            </li>
          </ul>
        </div>
      </nav>
      <!--Container with jumbotron-->
      <div class="jumbotron cemter">
        <!--List of actions in the array actions -->
        <div class="container">
          <h1>To Do List</h1>
          <ol>
            <li v-for="action in actions">{{action}}</li>
          </ol>
        </div>
        <!--Managing the button to take and remove elements from the array -->
        <!--Adding element in the array -->
        <label for="add-action"><strong>Adding- </strong></label
        ><input type="text" v-model="act" />
        <button v-on:click="addaction">Add action</button>
        <br />
        <!--Removing element in the array -->
        <label for="add-action"><strong>Remove </strong></label
        ><input type="text" v-model="pos" />
        <button v-on:click="remove_action">Remove Action</button>
      </div>
    </div>
    <script src="js/vue.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
